In [1]:
from pyhive import hive
import seaborn as sns
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.streaming import StreamingContext
from pyspark.streaming.kafka import KafkaUtils
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np

### Connect to Hive-server

In [2]:
hive_conn = hive.Connection(host="hive-server", port=10000)
hive_cursor = hive_conn.cursor()

### Connection to Spark

In [3]:
ss = SparkSession.Builder() \
     .appName("DashBoard") \
     .master("spark://batch-processing-spark-master:7077") \
     .getOrCreate()

### Get data from table "trips"

In [10]:
hive_cursor.execute('SELECT * FROM trips')
products = hive_cursor.fetchall()
# hive_cursor.execute('DROP TABLE trips')

# Simple statistics

In [11]:
print(f"Number of records: {len(products)}")

Number of records: 227

# Anomaly detection

In [12]:
pdDF = pd.DataFrame(products)

In [13]:
ppDF = ss.createDataFrame(pdDF)

In [15]:
ppDF.show()

+----------+---+---+-------+---+----------+---+---+---+---+---+
|         0|  1|  2|      3|  4|         5|  6|  7|  8|  9| 10|
+----------+---+---+-------+---+----------+---+---+---+---+---+
|1441404544|nan| 40|2457207|nan|1442142720|FDF| FR|LYS|nan|  1|
|1447067264|nan| 40|2457232|nan|1444564096|KWI| ES|HEL|nan|  1|
|1434222208|nan| 40|2457072|nan|1433783936|CUE| ES|PMI|nan|  1|
|1411671552|nan| 40|2456846|nan|1409718528|AKL| PE|HKG|nan|  1|
|1420607872|nan| 20|2456934|nan|1420845696|LHR| GB|DOU|nan|  1|
|1456138624|nan| 40|2457406|nan|1455163520|CMN| ES|MAD|nan|  1|
|1402492160|nan| 40|2456750|nan|1400123392|ARN| NO|BUD|nan|  1|
|1443518208|nan| 40|2457234|nan|1444866432|FCO| FI|HEL|nan|  1|
|1452846080|  L| 40|2457029|nan|1449165056|TRG| FR|FRA|nan|  1|
|1450247168|nan| 40|2457347|nan|1451028352|DOH| ES|BCN|nan|  1|
|1448221440|nan| 40|2457140|nan|1445940480|FUK| CH|GVA|nan|  1|
|1457346176|nan| 40|2457426|nan|1458704640|TLV| NO|OSL|nan|  1|
|1429359744|  L| 40|2457109|nan|1430706048|SIN| SE|ARN|nan|  1|
|1446891776|  B| 40|2457205|nan|1443007232|SFO| US|EWR|nan|  1|
|1433693824|nan| 40|2457033|nan|1428328960|FCO| RS|LAX|nan|  2|
|1452533888|nan| 40|2457281|nan|1449878272|JFK| DE|TXL|nan|  1|
|1452454528|nan| 40|2457362|nan|1452615680|LTN| LV|RIX|nan|  1|
|1446432640|nan| 40|2457167|nan|1443961216|REP| DE|FRA|nan|  1|
|1428995840|nan| 40|2457085|nan|1425857280|HKG| CA|YVR|nan|  1|
|1437059200|nan| 40|2457076|EUR|1433489408|NCE| SN|CAI|0.0|  1|
+----------+---+---+-------+---+----------+---+---+---+---+---+
only showing top 20 rows